*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main-bar{
    background-color: #198754;
    display: flex;
    justify-content: space-between;
    padding: 16px;  
    font-size: 20px;
}
.logo{
    color: white;
}
.menu-bars{
    margin: 12px;
}
.menu-bars a{
    align-items: center;
    text-decoration: none;
    margin: 12px;
    color: white;
}
.menu-bars a:hover{
    color: white;
    font-weight: bold;
}
.end-bars{
    margin: 12px;
}
.end-bars a{
    text-decoration: none;
    margin: 12px;
    color: white;
}
.end-bars a:hover{
    color: white;
    font-weight: bold;
}